<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gpacalc</title>
    <link href="/static/logupStyle.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <h1>GPACalc</h1>
    <br>
    <div class="flexContainer">
        <div class="innerContainer">
            <h3>Sign up</h3>
            <br>
            <div class="doubleContainer">
                <label for="suUser">Username</label>
                <br>
                <input id="suUser" name="suUser" autocomplete="off">
                <br>
                <br>
                <label for="suPass">Password</label>
                <br>
                <input id="suPass" name="suPass" autocomplete="off" type="password">
                <button onclick="signup()">Sign up</button>
            </div>
        </div>
        <div class="innerContainer">
            <h3>Log in</h3>
            <br>
            <div class="doubleContainer">
                <label for="liUser">Username</label>
                <br>
                <input name="liUser" id="liUser" autocomplete="off">
                <br>
                <br>
                <label for="liPass">Password</label>
                <br>
                <input id="liPass" name="liPass" autocomplete="off" type="password">
                <button onclick="login()">Log in</button>
            </div>
        </div>
    </div>
    <br>
    <p id="errormsg"></p>

    <script src="/static/script.js"></script>
</body>
</html>